{#
/**
 * @file
 * Contains the text of the engdata explanation page
 */
#}

<div class='engdata-description'>
{% trans %}
    <p>The page contain information about engine configuration.</p>
    <p>Engine configuration</p>
    <p>delete and update operationss</p>
{% endtrans %}
</div>
